# Progress bars and logging
tqdm
git+https://github.com/gpauloski/loggerplus
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
wget
requests
six
ipdb
# Data processing
numpy
h5py
html2text
nltk
progressbar
# Others
onnxruntime
